body{
     background-image: url(https://cde.3.elcomercio.pe/ima/0/1/7/2/9/1729781.jpg);
    background-repeat: no-repeat;
    background-position: right;background-image: url("C:/Users/jarvis1.1/Pictures/unnamed.gif") ;
    background-repeat: no-repeat;
    background-position: right top;
    background-color: rgb(0, 0, 0);
    color: white;
}
body{
   

}